navbar {
  background-color: grey * .5;
  width: 54%;
  color: white;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;

    button {
      margin: 1em;
    }
  }

}

.left {
  display: flex;
}
