navbar {
  background-color: grey;
  min-width: 100%;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;

    button {
      margin: 1em;
    }
  }

}

.left {
  display: flex;
}
