<li class="gallery-item" ng-if="editGalleryCtrl.update">
  <form ng-submit="editGalleryCtrl.updateGallery(); editGalleryCtrl.update = !editGalleryCtrl.update">

    <div class="input">
      <span>Name: </span>
      <input type="text" placeholder="name" ng-model="editGalleryCtrl.gallery.name">
    </div>

    <div class="input">
      <span>Desc: </span>
      <input type="text" placeholder="description" ng-model="editGalleryCtrl.gallery.desc">
    </div>

    <button class="btn-std" type="submit">update</button>
  </form>
</li>
