<li class="gallery-item">
  <div ng-if"!galleryItemCtrl.update">
    <p>name: {{galleryItemCtrl.gallery.name}}</p>
    <p>description: {{galleryItemCtrl.gallery.desc}}</p>
    <section>
      <span><button class="btn-std" type="button" ng-click="galleryItemCtrl.update = !galleryItemCtrl.update">update</button></span>
      <button class="btn-std" type="button" ng-click="galleryItemCtrl.deleteGallery()">delete</button>
    </section>

  </div>

  <edit-gallery ng-if="galleryItemCtrl.update" gallery="galleryItemCtrl.gallery"></edit-gallery>
</li>
