.create-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    min-height: 20em;
    width: 100%;
    border: 2px solid black;
    margin: 2em;

  }

  button {
    align-self: center;
  }
}
