.create-gallery {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 20em;
    min-width: 100%;
  }

  button {
    margin-top: 2em;
    align-self: center;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: white;
  }
}
