<section class="create-gallery">
  <form name="createGalleryForm"
    class="gallery-form"
    ng-submit="createGalleryCtrl.createGallery()">

    <h2>{{ 'CREATE' | translate}}</h2>

    <input placeholder="{{ 'NAME' | translate }}" class="input-std" type="text" ng-model="createGalleryCtrl.gallery.name" required>

    <input placeholder="{{ 'DESC' | translate }}" class="input-std" type="text" ng-model="createGalleryCtrl.gallery.desc" required>

    <button class="btn-std" type="submit">{{ 'CREATE_GALLERY' | translate }}</button>
  </form>
</section>
