html {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 90%;
  margin: 0;
  font-family: monospace;
}

ui-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

a {
  color: grey;
  text-decoration: none;
}

input {
  height: 3em;
  border: 1px solid grey;
  border-radius: 2px;
}

img {
  height: 2em;
  margin: 1em;
}

.btn-std {
  height: 3em;
  width: 12em;
  color: white;
  background-color: grey * .5;
  align-self: flex-end;
  margin-bottom: 1em;
  border: none;
  border-radius: 2px;
}
